<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<style type="text/css">
		body {
			width: 100% !important;
			-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
			margin: 0;
			padding: 0;
			background-color: #319fb5;
			background-image: url("http://www.mytime.com/assets/email_assets/reengagement/bg.png")
		}

		* {
			-webkit-font-smoothing: antialiased
		}

		.ExternalClass * {
			line-height: 100%
		}

		table td {
			border-collapse: collapse;
			max-width: 100% !important;
			word-break: break-word;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto;
			overflow: auto;
			white-space: normal;
		}

		.wlf {
			width: 610px
		}

		@media only screen and (max-width:610px) {
			.full-width {
				width: 100% !important
			}

			.t-none {
				display: none
			}

			.t-center-txt {
				text-align: center
			}

			.t-width {
				width: 100% !important;
				max-width: 100% !important;
				display: table !important
			}
		}
	</style>
</head>

<body>
	<div style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
		Internet banking transaction confirmation
	</div>
	<div style="background-color:#319fb5">

		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td background="http://www.mytime.com/assets/email_assets/reengagement/bg.png">

					<table class="wlf full-width" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;max-width:610px">
						<tr>
							<td width="5" style="font-size:1px;line-height:1px"> </td>
							<td>
								<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%">
									<tr>
										<td height="20"> </td>
									</tr>
									<tr>
										<td style="font-size:1px;line-height:1px"><img src="http://www.mytime.com/assets/email_assets/reengagement/corners-top.png"
											 width="600" alt="" style="display:block;width:100%;max-width:600px;max-height:31px"></td>
									</tr>
								</table>

								<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%">
									<tr>
										<td width="1" bgcolor="#a1a6a8" style="font-size:1px;line-height:1px"></td>
										<td bgcolor="#ffffff">
											<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%">
												<tr>
													<td width="5%" style="font-size:1px;line-height:1px"> </td>
													<td>
														<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom:1px solid #e7e7e7;min-width:100%">
															<tr>
																<td height="20"> </td>
															</tr>
															<tr>
																<td>
																	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%">
																		<tr>
																			<td style="font-size:0;text-align:center">
																				<table class="t-width" width="100%" border="0" cellspacing="0" cellpadding="0" style="max-width:170px;display:inline-block;vertical-align:middle">
																					<tr>
																						<td height="10" style="font-size:1px;line-height:1px">
																						</td>
																					</tr>
																					<tr>
																						<td align="center" style="width:170px; height:112px">
																							<a href={{webLink}} target="_blank"><img src="http://pluspng.com/img-png/click-on-the-icons-to-learn-more-560.png" style="width: 100px"></a>
																						</td>
																					</tr>
																					<tr>
																						<td height="10" style="font-size:1px;line-height:1px">
																						</td>
																					</tr>
																				</table>
																				<table class="t-width" width="100%" border="0" cellspacing="0" cellpadding="0" style="display:inline-block; vertical-align:middle; max-width:360px;">
																					<tr>
																						<td class="t-none" width="20">
																						</td>
																						<td>
																							<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%">
																								<tr>
																									<td height="0" style="font-size:1px;line-height:1px">
																									</td>
																								</tr>
																								<tr>
																									<td align="left" class="t-center-txt" style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:20px;line-height:24px">Internet
																										Banking</td>
																								</tr>
																								<tr>
																									<td height="15" style="font-size:1px;line-height:1px">
																									</td>
																								</tr>
																								<tr>
																									<td align="left" class="t-center-txt" style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">227
																										Nguyễn Văn Cừ</td>
																								</tr>
																								<tr>
																									<td align="left" class="t-center-txt" style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">Quận
																										5 TP. HCM</td>
																								</tr>
																								<tr>
																									<td align="left" class="t-center-txt" style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">(094)
																										4433999</td>
																								</tr>
																								<tr>
																									<td height="10" style="font-size:1px;line-height:1px">
																									</td>
																								</tr>
																							</table>
																						</td>
																						<td class="t-none" width="20">
																						</td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<tr>
																<td height="20"> </td>
															</tr>
														</table>

														<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%">
															<tr>
																<td height="5"> </td>
															</tr>
															<tr>
																<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:20px">
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td height="5"> </td>
																		</tr>
																		<tr>
																			<td height="10"> </td>
																		</tr>
																	</table>
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td height="5"> </td>
																		</tr>

																		<tr>
																			<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:20px">
																				<p>Hi <span><a style="text-decoration: none; font-size: 18px; font-family: 'times new roman'; font-weight: bold; color: #4f4f4f">{{email}}</a></span>,</p>
																				<p>Recently, a transaction has been
																					created to transfer money from your
																					account on <a href={{webLink}} style="text-decoration: none; font-size: 19px; font-family: 'times new roman'; font-weight: bold; color: #319fb5">Internet
																						Banking</a>. Please find the
																					details below:</p>
																			</td>
																		</tr>

																		<tr>
																			<td height="10"> </td>
																		</tr>
																	</table>
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td height="5"> </td>
																		</tr>

																		<tr>
																			<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:20px">

																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td width="10%"> </td>
																						<td>
																							<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #d6d6d6;border-radius:5px; box-shadow:0px 0px 4px 0px #cccccc;">
																								<tr>
																									<td>
																										<table width="100%" bgcolor="#146880" border="0" cellspacing="0" cellpadding="0" style="border-top-left-radius:5px;border-top-right-radius:5px;background-color:#146880;">
																											<tr>
																												<td width="5%">
																												</td>
																												<td>
																													<table width="100%" border="0" cellspacing="0" cellpadding="0">
																														<tr>
																															<td height="20">
																															</td>
																														</tr>
																														<tr>
																															<td align="center" style="color:#ffffff;font-family:Verdana, Arial, sans-serif;font-size:18px;line-height:22px;">Transaction
																																detail</td>
																														</tr>
																														<tr>
																															<td height="20">
																															</td>
																														</tr>
																													</table>
																												</td>
																												<td width="5%">
																												</td>
																											</tr>
																										</table>
																										<table width="100%" border="0" cellspacing="0" cellpadding="0">
																											<tr>
																												<td width="5%">
																												</td>
																												<td>
																													<table width="100%" border="0" cellspacing="0" cellpadding="0">
																														<tr>
																															<td height="20">
																															</td>
																														</tr>
																														<tr>
																															<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">
																																Origin
																																wallet:
																															</td>
																															<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">
																																{{originWalletNumber}}
																															</td>
																														</tr>

																														<tr>
																															<td height="20" style="border-bottom:1px solid #a4a4a4">
																															</td>
																														</tr>
																														<tr>
																															<td height="20">
																															</td>
																														</tr>
																														<tr>
																															<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">
																																Destination
																																wallet:
																															</td>
																															<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">
																																{{destinationWalletNumber}}
																															</td>
																														</tr>
																														<tr>
																															<td height="20" style="border-bottom:1px solid #a4a4a4">
																															</td>
																														</tr>
																														<tr>
																															<td height="20">
																															</td>
																														</tr>
																														<tr>
																															<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">
																																Transfer
																																amount:
																															</td>
																															<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">
																																{{amount}}
																															</td>
																														</tr>
																														<tr>
																															<td height="20" style="border-bottom:1px solid #a4a4a4">
																															</td>
																														</tr>
																														<tr>
																															<td height="20">
																															</td>
																														</tr>
																														<tr>
																															<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">
																																Message:
																															</td>
																															<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">
																																{{message}}
																															</td>
																														</tr>
																														<tr>
																															<td height="20" style="border-bottom:1px solid #a4a4a4">
																															</td>
																														</tr>
																														<tr>
																															<td height="20">
																															</td>
																														</tr>
																														<tr>
																															<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">
																																Fee:
																															</td>
																															<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">
																																{{chargeFee}}
																															</td>
																														</tr>
																														<tr>
																															<td height="20" style="border-bottom:1px solid #a4a4a4">
																															</td>
																														</tr>
																														<tr>
																															<td height="20">
																															</td>
																														</tr>
																														<tr>
																															<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">
																																Fee
																																paid
																																by:
																															</td>
																															<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:18px">
																																{{payBy}}
																															</td>
																														</tr>
																														<tr>
																															<td height="20">
																															</td>
																														</tr>
																													</table>
																												</td>
																												<td width="5%">
																												</td>
																											</tr>
																										</table>
																									</td>
																								</tr>
																							</table>
																						</td>
																						<td width="10%"> </td>
																					</tr>
																				</table>
																				<br>


																			</td>
																		</tr>

																		<tr>
																			<td height="10"> </td>
																		</tr>
																	</table>
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td height="5"> </td>
																		</tr>
																		<tr>
																			<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:20px">
																			</td>
																		</tr>
																		<tr>
																			<td height="10"> </td>
																		</tr>
																	</table>
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td height="5"> </td>
																		</tr>

																		<tr>
																			<td style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:14px;line-height:20px">
																				<p>This email is to make sure if it was
																					you who made this transaction.
																					<hr> If you don't recognize this
																					action, please ignore this email
																					and delete it ASAP.
																					<hr> But if you want to continue,
																					please copy the OTP below and fill
																					it in the verify section (step 2)
																					on our website<br><br></p>
																				<p style="margin-right: 5%">OTP:<span><p style="color: #319fb5; font-size: 30px; font-weight: bold; text-align: center">
																					{{OTP}}<br><br></p></span>
																				<p>Thank you for using our service.</p>
																				<p>Best regard,<br><br><span>Phú-Thoại-Thư
																						Team</span></p>
																			</td>
																		</tr>

																		<tr>
																			<td height="10"> </td>
																		</tr>
																	</table>

																</td>
															</tr>
															<tr>
																<td height="5"> </td>
															</tr>
														</table>
													</td>
													<td width="5%" style="font-size:1px;line-height:1px"> </td>
												</tr>
											</table>

											<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%">
												<tr>
													<td width="10"> </td>
													<td>
														<table width="100%" bgcolor="#efefef" border="0" cellspacing="0" cellpadding="0" style="border-radius:5px;min-width:100%">
															<tr>
																<td width="10"> </td>
																<td>
																	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%">
																		<tr>
																			<td height="5"> </td>
																		</tr>
																		<tr>
																			<td align="center" style="color:#4f4f4f;font-family:Verdana, Arial, sans-serif;font-size:12px;line-height:18px">
																				This email has been sent on behalf of
																				Internet Banking Team.
																			</td>
																		</tr>
																		<tr>
																			<td height="10"> </td>
																		</tr>
																	</table>
																</td>
																<td width="10"> </td>
															</tr>
														</table>
													</td>
													<td width="10"> </td>
												</tr>
											</table>
										</td>
										<td width="1" bgcolor="#a1a6a8" style="font-size:1px;line-height:1px"></td>
									</tr>
								</table>

								<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:100%">
									<tr>
										<td style="font-size:1px;line-height:1px"><img src="http://www.mytime.com/assets/email_assets/reengagement/corners-bottom.png"
											 width="600" alt="" style="display:block;width:100%;max-width:600px;max-height:20px"></td>
									</tr>
									<tr>
										<td height="20"> </td>
									</tr>
								</table>
							</td>
							<td width="5" style="font-size:1px;line-height:1px"> </td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>

</body>

</html>